<a href="https://colab.research.google.com/github/Harsoo05/proyecto_gbd/blob/main/C%C3%B3digo_Proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
CREATE TABLE PARCELAAGRICOLA(
ID_parcela INT NOT NULL PRIMARY KEY,
tamaño DECIMAL,
ubicaciongeografica VARCHAR (100),
practicasagricolas VARCHAR (200),
tipodesuelo VARCHAR (100),
tecnicasderiego VARCHAR (200),
mantenimiento VARCHAR (200),
propietario VARCHAR (200)
);

INSERT INTO PARCELAAGRICOLA (ID_parcela, tamaño, ubicaciongeografica, practicasagricolas, tipodesuelo, tecnicasderiego, mantenimiento, propietario)
VALUES
    (1, 150.25, 'Latitud: 40.7128, Longitud: -74.0060', 'Rotación de cultivos', 'Arcilloso', 'Riego por goteo', 'Mantenimiento regular', 'Juan Pérez'),
    (2, 120.50, 'Latitud: 34.0522, Longitud: -118.2437', 'Fertilización orgánica', 'Arenoso', 'Riego por aspersión', 'Mantenimiento mensual', 'María González'),
    (3, 180.75, 'Latitud: 41.8781, Longitud: -87.6298', 'Siembra directa', 'Franco', 'Riego por surcos', 'Mantenimiento estacional', 'Carlos Rodríguez'),
    (4, 90.30, 'Latitud: 51.5074, Longitud: -0.1278', 'Agricultura ecológica', 'Limoso', 'Riego gravitacional', 'Mantenimiento anual', 'Ana Sánchez'),
    (5, 200.00, 'Latitud: -33.8688, Longitud: 151.2093', 'Control de plagas integrado', 'Arenoso', 'Riego por goteo', 'Mantenimiento trimestral', 'Pedro Gómez'),
    (6, 110.80, 'Latitud: 35.6895, Longitud: 139.6917', 'Agricultura de precisión', 'Franco arcilloso', 'Riego por aspersión', 'Mantenimiento semanal', 'Laura Martínez'),
    (7, 130.20, 'Latitud: 19.4326, Longitud: -99.1332', 'Agricultura sostenible', 'Limoso', 'Riego por surcos', 'Mantenimiento regular', 'Javier López'),
    (8, 75.50, 'Latitud: -37.8136, Longitud: 144.9631', 'Agricultura regenerativa', 'Arcilloso', 'Riego gravitacional', 'Mantenimiento estacional', 'Elena Fernández'),
    (9, 160.10, 'Latitud: 40.4168, Longitud: -3.7038', 'Siembra directa', 'Franco arcilloso', 'Riego por goteo', 'Mantenimiento mensual', 'Roberto Ruiz'),
    (10, 140.90, 'Latitud: 45.4215, Longitud: -75.6993', 'Fertilización convencional', 'Arenoso', 'Riego por aspersión', 'Mantenimiento anual', 'Isabel Pérez');

SELECT * FROM PARCELAAGRICOLA

CREATE TABLE SENSOR(
ID_sensor INT NOT NULL PRIMARY KEY,
temperatura DECIMAL,
precipitacion DECIMAL,
humedad DECIMAL,
ID_parcela INT,
FOREIGN KEY (ID_parcela) REFERENCES PARCELAAGRICOLA(ID_parcela)
);

INSERT INTO SENSOR (ID_sensor, temperatura, precipitacion, humedad, ID_parcela)
VALUES
    (1, 25.5, 10.2, 65.0, 1),
    (2, 22.0, 5.5, 70.3, 2),
    (3, 28.8, 15.0, 58.9, 3),
    (4, 20.2, 2.3, 75.6, 4),
    (5, 27.5, 8.7, 62.1, 5),
    (6, 24.3, 12.1, 68.4, 6),
    (7, 26.1, 7.5, 70.8, 7),
    (8, 21.9, 4.0, 73.2, 8),
    (9, 29.4, 18.6, 56.7, 9),
    (10, 23.8, 9.2, 67.3, 10);

SELECT * FROM SENSOR

CREATE TABLE CULTIVO(
ID_cultivo INT PRIMARY KEY,
nombre VARCHAR (200),
ciclo_de_crecimiento VARCHAR (300),
recomendaciones VARCHAR (500)
);

INSERT INTO CULTIVO (ID_cultivo, nombre, ciclo_de_crecimiento, recomendaciones)
VALUES
    (1, 'Tomate', 'Anual', 'Requiere suelos bien drenados y exposición solar directa. Riego regular y fertilización mensual.'),
    (2, 'Maíz', 'Anual', 'Necesita suelos ricos en nutrientes y agua abundante. Plantar en primavera. Fertilización nitrogenada.'),
    (3, 'Manzana', 'Perenne', 'Cultivo a largo plazo. Necesita poda regular y suelos bien drenados. Evitar exceso de riego.'),
    (4, 'Fresa', 'Perenne', 'Requiere suelos ácidos y ricos en materia orgánica. Riego frecuente. Proteger de heladas en invierno.'),
    (5, 'Arroz', 'Anual', 'Cultivo de humedales. Necesita agua constante durante el crecimiento. Cosecha en otoño.'),
    (6, 'Zanahoria', 'Bienal', 'Crecimiento lento en el primer año. Requiere suelos sueltos y bien drenados. Riego regular.'),
    (7, 'Uva', 'Perenne', 'Cultivo de vid. Necesita poda regular y suelos calcáreos. Cosecha en otoño.'),
    (8, 'Papa', 'Anual', 'Crecimiento subterráneo. Requiere suelos bien drenados y ricos en potasio. Cosecha en verano.'),
    (9, 'Calabaza', 'Anual', 'Requiere suelos fértiles y bien drenados. Plantar en primavera. Riego moderado.'),
    (10, 'Cebolla', 'Bienal', 'Crecimiento lento en el primer año. Requiere suelos sueltos y bien drenados. Riego regular.');

SELECT * FROM CULTIVO

CREATE TABLE REGISTRO(
ID_registro INT PRIMARY KEY,
cantidad_cosechada DECIMAL,
rendimiento VARCHAR (500),
fecha_de_cosecha DATE,
funcionario VARCHAR (200),
ID_cultivo INT,
FOREIGN KEY(ID_cultivo) REFERENCES CULTIVO(ID_cultivo)
);

INSERT INTO REGISTRO (ID_registro, cantidad_cosechada, rendimiento, fecha_de_cosecha, funcionario, ID_cultivo)
VALUES
    (1, 500.25, 'Buena cosecha, calidad premium', '2023-01-15', 'Juan Pérez', 1),
    (2, 750.50, 'Excelente rendimiento, cumplió con las expectativas', '2023-02-28', 'María González', 2),
    (3, 1200.75, 'Cosecha abundante, calidad superior', '2023-03-10', 'Carlos Rodríguez', 3),
    (4, 300.30, 'Rendimiento moderado, se recomienda ajustes en la fertilización', '2023-04-05', 'Ana Sánchez', 4),
    (5, 900.00, 'Rendimiento destacado, buena calidad de frutas', '2023-05-20', 'Pedro Gómez', 5),
    (6, 600.80, 'Buena cosecha, frutas de tamaño uniforme', '2023-06-08', 'Laura Martínez', 6),
    (7, 800.20, 'Cosecha exitosa, uvas de alta calidad', '2023-07-15', 'Javier López', 7),
    (8, 450.50, 'Rendimiento moderado, se recomienda mayor control de plagas', '2023-08-02', 'Elena Fernández', 8),
    (9, 1000.10, 'Cosecha satisfactoria, buena calidad de papas', '2023-09-18', 'Roberto Ruiz', 9),
    (10, 700.90, 'Rendimiento destacado, calabazas de tamaño óptimo', '2023-10-05', 'Isabel Pérez', 10);

SELECT * FROM REGISTRO

CREATE TABLE PARCELA_CULTIVO(
ID_parcela INT,
ID_cultivo INT,
FOREIGN KEY (ID_parcela) REFERENCES PARCELAAGRICOLA(ID_parcela),
FOREIGN KEY (ID_cultivo) REFERENCES CULTIVO(ID_cultivo)
);

INSERT INTO PARCELA_CULTIVO (ID_parcela, ID_cultivo)
VALUES
    (1, 1),
    (2, 2),
    (3, 3),
    (4, 4),
    (5, 5),
    (6, 6),
    (7, 7),
    (8, 8),
    (9, 9),
    (10, 10);

SELECT * FROM PARCELA_CULTIVO